@import "../theme";

.flag-info {
  color: $default-font-color;
  font-size: $default-font-size;
  font-weight: bold;
  margin-bottom: 3rem;
  margin-top: 3rem;
  text-align: center;
}

.config-box {
  margin-bottom: 2rem;
}