@import "../theme";

.left-5 {
  margin-left: -10px;
}

.text-container-sm {
  text-align: center;
  margin-top: 2em;
  margin-bottom: 3em;
  font-size: $default-font-size;
  color: $default-font-color;
  max-width: 50em;
  font-size: 1.5em;
}

.gm-active {
  text-decoration: underline;
}