@import "../theme";

.navbar-container {
  width: 100vw;
  height: 50px;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.nav-link {
  margin-left: 15px;
}
