@import "../theme";

.login-background {
  background-color: rgba(255, 255, 255, 0.5);
  margin-left: -20px;
}

.login-button-container{
    justify-content: center;
    margin-top: 0.5rem;
}

.register-login-link{
  cursor: pointer;
  &:hover{
    color: $base-yellow;
    }
}