@import "../theme";

.input-container{
    display: flex;
    margin-top: 3rem;
    gap: 1rem;
}

.info-text-rankings {
  color: $default-font-color;
  font-size: $default-font-size;
  font-weight: bold;
  margin-bottom: 3rem;
  margin-top: 3rem;
  text-align: center;
}