@import "../theme";

.start-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-buttons-container {
  width: 400px;
  height: 20vh;
}

.start-mpsp-select {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
