@import "../theme";

.center-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.bottom-center-container {
  position: relative;
}

.main-body{
    //overflow: hidden;
}

.full-h-w {
  width: 100%;
  height: 100%;
}