@import "../theme";

.button-container {
  position: relative;
  padding-bottom: 10px;
}

.button-container:hover {
  top: 1px;
  transform: translateX(1px);
  .button {
    box-shadow: 2px 2px 0 $secondary-color;
  }
}

.button {
  z-index: 2;
  // basic properties
  position: absolute;
  top: 0;
  left: 0;
  background: $primary-color;
  border: solid 3px $border-color;
  border-radius: 15px;
  box-shadow: 3px 3px 0 $secondary-color;
  outline: 4px solid transparent;
}

.button:hover {
  // transition: all .3s linear;
  box-shadow: 2px 2px 0 $secondary-color;
}

.button-shine {
  z-index: 3;
  // shine effect
  position: absolute;
  top: 3px;
  left: 45px;
  height: 40px;
  width: 50px;
  background: $secondary-color;
  transition: all .3s linear;
  transform: skewX(310deg) translateX(0);
}

.button-font-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button-font {
  top: 0;
  left: auto;
  position: absolute;
  z-index: 10;
  margin-top: 0;
  font-size: $button-font-size;
  font-weight: bold;
  color: $button-text-color;
  text-shadow: 1px 1px 0 black; /* Shadow with x-offset, y-offset, and color */
  -webkit-text-stroke-width: 1px; /* Adjust the stroke width as needed */
  -webkit-text-stroke-color: black; /* Stroke color for WebKit browsers */
  text-stroke-width: 3px; /* Adjust the stroke width as needed */
  text-stroke-color: black; /* Stroke color */
}

// large button properties
.lg-button {
  height: 46px;
  width: 400px;
  position: relative;
}

// medium button properties
.md-button {
  height: 46px;
  width: 185px;
  position: relative;
}

// small button properties
.sm-button {
  height: 46px;
  width: 100px;
  position: relative;
}
