@import "../theme";

.button-main {
  height: 46px;
  width: 100%;
  position: relative;
}

.button-container {
  position: relative;
}

.button-container:hover {
  top: 1px;
  transform: translateX(1px);
  .button {
    box-shadow: 2px 2px 0 $secondary-color;
  }
}

.button {
  z-index: 2;
  // basic properties
  position: absolute;
  top: 0;
  left: 0;
  background: $primary-color;
  padding: 10px 10px;
  border: solid 3px $border-color;
  border-radius: 7px;
  box-shadow: 3px 3px 0 $secondary-color;
  outline: 4px solid transparent;
}

.button:hover {
  // transition: all .3s linear;
  box-shadow: 2px 2px 0 $secondary-color;
}

.button-shine {
  z-index: 3;
  // shine effect
  position: absolute;
  top: 3px;
  left: 45px;
  height: 40px;
  width: 50px;
  background: $secondary-color;
  transition: all .3s linear;
  transform: skewX(310deg) translateX(0);
}

// large button properties
.lg-button {
  height: 46px;
  width: 400px;
}

.lg-button-font {
  top: 0;
  left: auto;
  position: absolute;
  z-index: 10;
  margin-top: 0;
  font-size: 30px;
  font-weight: bold;
  color: $button-text-color;
  text-shadow: 1px 1px 0 black; /* Shadow with x-offset, y-offset, and color */
  -webkit-text-stroke-width: 1px; /* Adjust the stroke width as needed */
  -webkit-text-stroke-color: black; /* Stroke color for WebKit browsers */
  text-stroke-width: 3px; /* Adjust the stroke width as needed */
  text-stroke-color: black; /* Stroke color */
}

// medium button properties
.md-button {
  height: 46px;
  width: 200px;
}

.md-button-font {
  top: 0;
  left: auto;
  position: absolute;
  z-index: 10;
  margin-top: 0;
  font-size: 30px;
  font-weight: bold;
  color: $button-text-color;
  text-shadow: 1px 1px 0 black; /* Shadow with x-offset, y-offset, and color */
  -webkit-text-stroke-width: 1px; /* Adjust the stroke width as needed */
  -webkit-text-stroke-color: black; /* Stroke color for WebKit browsers */
  text-stroke-width: 3px; /* Adjust the stroke width as needed */
  text-stroke-color: black; /* Stroke color */
}


// small button properties
.sm-button {
  height: 46px;
  width: 100px;
}

.sm-button-font {
  top: 0;
  left: auto;
  position: absolute;
  z-index: 10;
  margin-top: 0;
  font-size: 30px;
  font-weight: bold;
  color: $button-text-color;
  text-shadow: 1px 1px 0 black; /* Shadow with x-offset, y-offset, and color */
  -webkit-text-stroke-width: 1px; /* Adjust the stroke width as needed */
  -webkit-text-stroke-color: black; /* Stroke color for WebKit browsers */
  text-stroke-width: 3px; /* Adjust the stroke width as needed */
  text-stroke-color: black; /* Stroke color */
}
