@import "../theme";
/*@tailwind base;
@tailwind components;
@tailwind utilities;*/

.base-element {
  width: 75vw;
  background: $base-blue;
  border: 10px solid #ffffff;
  border-radius: 8px;
  background-clip: padding-box;
  margin-bottom: 2rem;
  box-shadow:
    1px 1px 0 $threeD-blue,
    2px 2px 0 $threeD-blue,
    3px 3px 0 $threeD-blue,
    4px 4px 0 $threeD-blue,
    5px 5px 0 $threeD-blue,
    6px 6px 0 $threeD-blue,
    7px 7px 0 $threeD-blue,
    8px 8px 0 $threeD-blue,
    9px 9px 0 $threeD-blue,
    10px 10px 0 $threeD-blue;
  padding: 16px;
  box-sizing: border-box;
}