.online-players-container {
  height: auto;
  width: 100%;
  display: flex;
  top: 5rem;
  margin-right: 1rem;
  align-items: flex-end;
  justify-content: flex-end;
  position: absolute;
  z-index: 10;
}

.online-players-box {
  background-color: white;
  border: 2px solid black;
  padding: 10px;
  position: relative;
}

.online-players-button {
  font-family: monospace;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.dropdown-online {
  flex-direction: column;
  border: 1px solid #000;
  background-color: #fff;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 10;
  cursor: auto;
}

.player-box {
  padding: 8px 16px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  cursor: auto;
  text-align: center;
}
