.online-players-container {
  height: auto;
  width: 100%;
  display: flex;
  top: 5rem;
  position: absolute;
  left: 108rem;
}

.online-players-box {
  background-color: white;
  border: 2px solid black;
  padding: 10px;
  position: relative;
}

.online-players-button {
  font-family: monospace;
  cursor: pointer;
  background: none;
  border: none;
  padding: 0;
}

.dropdown-online {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  border: 1px solid #000;
  background-color: #fff;
  position: absolute;
  margin-right: 0rem;
  right: 0;
  z-index: 1;
  width: 100%;
  cursor: auto;
}

.player-box {
  padding: 8px 16px;
  border: 1px solid #ddd;
  background-color: #f9f9f9;
  cursor: auto;
  text-align: center;
}
