@import "../theme";

.dropdown{
  position: relative;
  border: 10px solid #ffffff;
  border-radius: 8px;
  background-color: $base-blue;
  margin-bottom: 2rem;
  box-shadow:
     1px 1px 0 $threeD-blue,
     2px 2px 0 $threeD-blue,
     3px 3px 0 $threeD-blue,
     4px 4px 0 $threeD-blue,
     5px 5px 0 $threeD-blue,
     6px 6px 0 $threeD-blue,
     7px 7px 0 $threeD-blue,
     8px 8px 0 $threeD-blue,
     9px 9px 0 $threeD-blue,
     10px 10px 0 $threeD-blue;
  padding: 15px;
  box-sizing: border-box;
  margin-top: 0.5rem;
  margin-right: 1rem;
  z-index: 100;
}

