@import "../theme";

.notifications-container {
  position: fixed;
  top: 10px;
  right: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 101;
}

.square {
  width: 200px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.5s;
  z-index: 101;
}

.default {
  background-color: $base-blue;
  color: white;
}

.win {
  background-color: $base-yellow;
  color: black;
}

.error {
  background-color: #ff0000;
  color: white;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.show {
  animation: slideIn 0.5s forwards;
}

.hide {
  animation: slideOut 0.5s forwards;
}
